.logo h1{
  margin:30px 0 100px 0;
  font-size:4.5rem;
	font-weight: 600;
	letter-spacing: 4px;
  color:#0084ff;
  text-align: center;
}
.item{
	width: 700px;
	margin: 0 auto;
}
.item ul{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.item ul li{
	position: relative;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin: 10px; 
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}
.item ul li img{
	max-width: 100%;
	height: auto;
	text-align: center;
}
.item ul li p{ 
	position: absolute;
	top: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: rgba(0, 0,0, .6);
	border-radius: 50%;
	opacity: 0;
	transition: all .3s linear;
}
.item ul li:hover p{
	top: 0;
	opacity: 1;
}
.item ul li p a{
	font-size: 16px;
	letter-spacing: 2px;
	color: #fff;	
	text-align: center;
	vertical-align: middle;
}
.item ul li p a:hover{
	text-decoration: none;
}

#myCarousel > a.carousel-control.right{
  background-image: none!important;
	margin-right: -4%;
}
#myCarousel > a.carousel-control.left{
  background-image: none!important;
	margin-left:-4%;
}

@media only screen and (max-width: 768px) {
	#myCarousel > a.carousel-control.right{
    background-image: none!important;
	margin-right: -15px;
}
#myCarousel > a.carousel-control.left{
  background-image: none!important;
	margin-left: -20px;
}
}
.container-fluid b{
	font-size: 12px;
}
#example-navbar-collapse a{
	font-size: 12px;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2%!important;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 50%;
     margin-right:0px!important; 
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: 0px!important;
}


/* 添加应用 */
#add-app{
  /* display:none; */
  position:fixed;
  top:50%;
  left:50%;
	margin:0 auto;
  padding: 10px;
	background-color:#FFFFFF;
  width:430px;
  height: 500px;
	border-radius:2px;
  overflow:hidden;
  z-index:99;
  transform:translate(-50%,-50%);
  box-shadow:0px 1px 3px rgba(21,21,21,.1);
  z-index:999;
}

/* 标题 */
#add-app h1{
  padding: 20px 15px 0 15px;
  font-size: 1.6rem;
  color: #0084ff;
}

/* 搜索相关应用 */
#add-app .add-app__search {
  position: relative;
  margin: 10px;
  height: 26px;
}
#add-app .add-app__search input{
  position: absolute;
  top: 10px;
  padding: 5px;
  width: 100%;
  height: 14px;
  font-size: 1.2rem;
  text-indent: .4rem;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  box-sizing: content-box;
  transition: width .3s linear .2s;
}
#add-app .add-app__search input:focus {
  outline: none;
  width: 78%;
}
#add-app .add-app__search button{
  position: absolute;
  top: 10px; right: 0;
  padding: 5px;
  width: 15%;
  height: 14px;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 3px;
  box-sizing: content-box;
  transform: scale(0);
  transition: transform .3s linear .2s;
}
#add-app .add-app__search button.active {
  transform: scale(1);
}

/* 筛选 */
#add-app .add-app__filter {
  display: flex;
  padding: 10px;
}
#add-app .add-app__filter li {
  margin-right: 5px;
  font-size: 1.2rem;
  color: #ccc;
  cursor: pointer;
  transition: color .2s linear;
}
#add-app .add-app__filter li.active {
  color: #333;
}

/* 内容 */
#add-app .add-app__content {
	overflow-y: auto;
	margin-top: 20px;
  max-height: 370px;
}
#add-app .add-app__content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}
#add-app .add-app__content li .add-app__content--img img {
  width: 50px;
  height: auto;
}
#add-app .add-app__content li .add-app__content--info {
  flex: 1;
  margin: 0 5px;
}
#add-app .add-app__content li .add-app__content--info p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}
#add-app .add-app__content li .add-app__content--info p:nth-child(2) {
  margin-top: 8px;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #999;
}
#add-app .add-app__content li .add-app__content--button button {
  padding: 5px;
  font-size: 1.2rem;
  width: 65px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background-color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 3px;
}
#add-app .add-app__content li .add-app__content--button button:focus {
  outline: none;
}
#add-app .add-app__content li .add-app__content--button button.active {
  background: none;
  color: #f1403c;
  border: 1px solid #f1403c;
}

/*关闭*/
#add-app .add-app__close{
  position:absolute;
  top:15px;
  right:15px;
  transition:all .2s linear;
}
#add-app .add-app__close:hover{
  transform:rotate(180deg);
}

/*阴影部分*/
div.app_shadow{
	position:fixed;
	left: 0;
  top:-56px;
  width:100%;
  height:120%;
  background:rgba(0,0,0,.4);
  z-index:998;
  /* display:none; */
}

/* 应用添加响应式 */
@media only screen and (max-width: 450px){
  #add-app { width: 98%; }
}

@media only screen and (max-width: 400px){
  #add-app .add-app__search input:focus {
    outline: none;
    width: 75%;
  }
}

/* 轮播响应式 */
@media only screen and (max-width: 720px){
	.logo h1{margin-bottom: 50px; font-size: 3.5rem;}
	.item{ width: 96%; }
}
@media only screen and (max-width: 420px){
	.item ul li{ width: 80px; height: 80px; margin: 0 8px;}
}
@media only screen and (max-width: 350px){
	.item ul li{ width: 70px; height: 70px; margin: 10px;}
}

.fade-enter-active, .fade-leave-active {
	transition: all .3s linear;
}
.fade-enter-to, .fade-leave{
	opacity: 1;
}
.fade-leave-to, .fade-enter{
	opacity: 0;
}