@charset "utf-8";
/* CSS Document */
*{padding: 0;margin: 0;}
.content{background:url('../image/bg2.jpg') no-repeat;background-size: 100%;}
.userName{letter-spacing: 1px;padding-left: 10px;color:#fff;}
.right{float: right;}
.right1,.right2,.right3,.right4{background: pink;float: left;border:1px solid #cccccc;background: #f8f8f8;box-shadow:5px 5px 5px 5px #999 inset; }
.right1:hover,.right2:hover,.right3:hover,.right4:hover{color:#fff;background: rgba(0, 0, 32, 0.4); box-shadow: 0px 0px 0px 0px #999 inset;}
.right1{border-top-right-radius: 45px;border-top-left-radius: 45px;border-bottom-left-radius: 45px;}
.right2{border-top-left-radius: 45px;border-bottom-right-radius: 45px;border-top-right-radius: 45px;}
.right3{border-top-left-radius: 45px;border-bottom-left-radius: 45px;border-bottom-right-radius: 45px;}
.right4{border-bottom-left-radius: 45px;border-bottom-right-radius: 45px;border-top-right-radius: 45px;}
.programa ul{text-align: center;margin-bottom: 0;background: rgba(0, 0, 32, 0.1);}
.programa li{list-style: none;float: left;cursor: pointer;padding: 15px 0 15px 0 }
.programa li:hover,#bg1{background: rgba(0, 0, 32, 0.2);color: #fff;}
.article_a{padding-bottom: 30px;display: none;height: 500px;}
#a1{display: block;}
.article_a button,.model_content button{float: right;}
.mask{display: none;}
.back{text-align: right;color: #fff;width: 100%;margin-top: 15px;}
.yue {
    margin: 0 auto;
    width: 400px;
    text-align: center;
}
.yue h1{
    margin: 0;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}
.yue button{
    margin: 5px 0 !important;
}
.yue p.pay-detail {
    font-size: 12px;
    cursor: pointer;
}
.yue p.pay-detail:hover {
    text-decoration:underline;
}

/* 支付样式 */
.pay {
  width: 320px !important;
}
.pay .pay--main {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.pay .pay--main>span{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
.pay .pay--main>span:first-child{
  font-size: 14px;
  color: #bbb;
}
.pay .pay--main .pay--main__password {
  display: flex;
  margin-top: 20px;
  padding: 10px 0;
  width: 240px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.pay .pay--main .pay--main__password>span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: 20px;
  text-align: center;
  border-right: 1px solid #eee;
}
.pay .pay--main .pay--main__password>span:last-child {
  border: none;
}

/* 输入金额 */
.pay .pay--main .pay--main__money {
    text-align: center;
}
.pay .pay--main .pay--main__money input{
    margin-top: 20px;
    margin-bottom: 10px;
}
.pay .pay--main .pay--main__money button{
    width: 150px;
}

/* 零钱明细弹框 */
.pay-detail__dialog {
    width: 400px;
}
.pay-detail__dialog .pay-detail__dialog--list{
    max-height: 400px;
    overflow: auto;
    box-sizing: border-box;
}
.pay-detail__dialog .pay-detail__dialog--list li{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}
.pay-detail__dialog .pay-detail__dialog--list li:last-child{
    border: none;
}
.pay-detail__dialog .pay-detail__dialog--list li div.pay-detail__dialog--list-left{
    flex: 1;
}
.pay-detail__dialog .pay-detail__dialog--list li div.pay-detail__dialog--list-left p{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
.pay-detail__dialog .pay-detail__dialog--list li div.pay-detail__dialog--list-left p:last-child{
    font-size: 12px;
    font-weight: normal;
    color: #bbb;
}
.pay-detail__dialog .pay-detail__dialog--list li div.pay-detail__dialog--list-right{
    font-size: 16px;
    font-weight: bold;
}
.income{
    color: #67c23a;
}

/* 响应式 */
@media only screen and (max-width: 320px) {
  .pay { width: 98% !important; }
}
@media (max-width: 768px){
    .head img{width: 100px;height: 100px;}
    .userName,.right p,.programa{font-size: 12px;}
    .right{width: 100px;}
    .content{height: 224px;}
    .right1,.right2,.right3,.right4{width: 50px;height: 50px;}
    .right1 p,.right2 p,.right3 p,.right4 p{margin: 8px 0 0 15px;}
    .programa ul{margin-top: 10px;}
    .back{font-size: 18px;padding-right: 56px;}
}
@media (mix-width: 768px){
    .head img{width: 150px;height: 150px;}
    .userName,.right p,.programa{font-size: 16px;}
    .right{width: 150px;}
    .content{height: 306px;}
    .right1,.right2,.right3,.right4{width: 75px;height: 75px;}
    .right1 p,.right2 p,.right3 p,.right4 p{margin: 12px 0 0 20px;}
    .programa ul{margin-top: 30px;}
    .back{font-size: 24px;padding-right: 80px;}
}
@media (mix-width: 992px) {
    .head img{width: 222px;height: 222px;}
    .userName,.right p,.programa{font-size: 24px;}
    .right{width: 222px;}
    .content{height: 420px;}
    .right1,.right2,.right3,.right4{width: 110px;height: 110px;}
    .right1 p,.right2 p,.right3 p,.right4 p{margin: 20px 0 0 20px;}
    .programa ul{margin-top: 50px;}
    .img_content{position: relative;padding: 0;width: 222px;height: 222px;border-radius: 100%;}
    .img_content:hover .mask{position: absolute;top:-102px;left: 0;width: 222px;height: 222px;line-height: 222px;border-radius: 100%;background: rgba(0, 0, 32, 0.6);color:#fff;text-align: center;display: block;}
    .back{font-size: 36px;padding-right: 110px;}
}
@media (max-width: 520px) {
    .yue { width: 96%; }
}
@media (max-width: 420px) {
    .pay-detail__dialog { width: 96%; }
}

